@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    width: 380px;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
}

.create-point-form {
    background-color: rgba(0, 0, 0, 0.4);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 2rem 2rem;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
}

.field-container,
.add-btn {
    border-color: #023e8a;
}

.title-wrapper {
    font-size: 2.5rem;
    padding: 1em 0 0.5em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    background-color: var(--primary-color);
    border-radius: 1em 1em 0 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.title-wrapper i {
    animation: levitateAndGlow 4s ease-in-out infinite;
}

.add-btn {
    border-radius: 1em;
    background-color: var(--primary-color);
    padding: 0.5em 0em;
    margin-top: 1em;
    font-family: 'Chela One', cursive;
    color: var(--text-color);
    border: none;
    font-size: 1.5rem;
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out;
}

.add-btn:hover {
    background-color: var(--hover-btn-color);
    color: #f8f9fa;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes glowingText {
    0% {
        text-shadow: 0 0 5px #d5d9de;
    }

    50% {
        text-shadow: 0 0 10px #d5d9de;
    }

    100% {
        text-shadow: 0 0 5px #d5d9de;
    }
}

@keyframes levitateAndGlow {

    0%,
    100% {
        transform: translateY(0px);
        filter: drop-shadow(0 0 2px #d5d9de);
    }

    50% {
        transform: translateY(-10px);
        filter: drop-shadow(0 0 12px #d5d9de);
    }
}