.header {
    background-color: var(--primary-color);
    max-height: 100px;
    overflow: hidden;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0px 5em;
}

.navbar__options {
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 1.4em;
}

.option {
    color: var(--text-color);
}

/* option */
.option .option-link {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0 5px;
    display: flex;
    gap: 0.3em;
}

.option .option-link::after {
    content: '';
    position: absolute;
    background-color: #0077b6;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.option .option-link:hover {
    color: var(--text-hover-color);
}

.option .option-link:hover:after {
    width: 100%;
}

/* img */
.img-container {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: levitateAndGlow 4s ease-in-out infinite;
}

/* animations */
@keyframes levitateAndGlow {

    0%,
    100% {
        transform: translateY(0px);
        filter: drop-shadow(0 0 2px #d5d9de);
    }

    50% {
        transform: translateY(-10px);
        filter: drop-shadow(0 0 12px #d5d9de);
    }
}

/* media queries */
@media screen and (max-width: 768px) {
    .img-container {
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-height: 150px;
    }

    .header__navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em 0.5em;
        align-items: center;
        gap: 10px;
    }
    .navbar__options {
        gap: 0.8rem;
        font-size: 1em;
    }
    .img-container {
        max-width: 80px;
        max-height: 80px;
    }
    .img {
        animation-duration: 3s;
    }
} 