@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root {
    --primary-color: #023e8a;
    --hover-btn-color: #024194;
    --text-color: #e0e0e0;
    --text-hover-color: #f8f9fa;
    --error-color: #b10000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Chela One', cursive;
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
}

